@{
    this.ViewData["Title"] = "Landing...";
}

@using Microsoft.AspNetCore.Identity;
@using BMS.Models.ViewModels.Flights
@inject SignInManager<IdentityUser> signInManager
@model DisplayDailyFlightViewModel
@if (this.signInManager.IsSignedIn(User))
{
    <div class="col">
        <h1 class="text-center">Daily flights</h1>
        <br />
        <table class="table table-bordered table-hover text-center" id="dailyMovements">
            <thead class="thead-dark table-striped">
                <tr>
                    <th scope="col">Flight Number</th>
                    <th scope="col">A/C Registration</th>
                    <th scope="col">A/C Type</th>     
                    <th scope="col">Destination</th>
                    <th scope="col">STD</th>
                    <th scope="col">R/A</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flight in Model.Flights)
                {
                   <tr>
                       <td>@flight.FlightNumber</td>
                       <td>@flight.Registration</td>
                       <td>@flight.AircraftType</td>
                       <td>@flight.Destination</td>
                       <td>@flight.STD</td>
                       <td>@flight.RampAgent</td>
                   </tr>
                }
            </tbody>
        </table>
    </div>
}





