@{ 
    this.ViewData["Title"] = "Add flight";
}

@using BMS.Models;
@model FlightInputModel
     <form asp-controller="Flights" asp-action="RegisterFlight">
          <div class="form-row">
              <div class="form-group col">
                  <input asp-for="@Model.FlightNumber" type="text" class="form-control w-100" placeholder="Flight numbers" />
                  <span asp-validation-for="@Model.FlightNumber"></span>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  <input asp-for="@Model.Origin"  class="form-control w-100" placeholder="Origin" />
                  <span asp-validation-for="@Model.Origin"></span>
              </div>
              <div class="form-group col">
                  <input asp-for="@Model.HandlingStation" type="text" class="form-control w-100" placeholder="Handling station" />
                  <span asp-validation-for="@Model.HandlingStation"></span>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  <input asp-for="@Model.Destination" type="text" class="form-control w-100" placeholder="Destination" />
                  <span asp-validation-for="@Model.Destination"></span>
              </div>
              <div class="form-group col">
                  <input asp-for="@Model.STA" type="datetime" class="form-control w-100" placeholder="STA" />
                  <span asp-validation-for="@Model.STA"></span>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  <input asp-for="@Model.STD" type="datetime" class="form-control w-100" placeholder="STD" />
                  <span asp-validation-for="@Model.STD"></span>
              </div>
              <div class="form-group col">
                  <input asp-for="@Model.BookedPax" class="form-control w-100" placeholder="Booked pax" />
                  <span asp-validation-for="@Model.BookedPax"></span>
              </div>
          </div>
         <div class="form-row">
             <div class="col form-group">
                 <input asp-for="@Model.SeatMap" class="form-control" placeholder="Seat map"/>
                 <span asp-validation-for="@Model.SeatMap"></span>
             </div>
             <div class="col form-group">
                 <input asp-for="@Model.RampAgentName" class="form-control" placeholder="Ramp Agent" />
                 <span asp-validation-for="@Model.RampAgentName"></span>
             </div>
         </div>
            <button type="submit" class="btn btn-primary w-100">Register flight</button>
        </form>